<!-- This page should display welcome and log-in screen -->

{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron" align="center">
        <h1 class="display-4">Tom's Angels Fancy Scheduling Assistant</h1><br/>
    <h4>Please log-in:</h4>
      <form method="post" action="/" class="form-container">
          {% csrf_token %}
          <label class="h5">Username: </label><input type="text" name="username" size="50"><br/>
          <label class="h5">Password: </label><input type="password" name="password" size="50"><br/>
          <input type="submit" class="btn btn-dark"><br><br><br>
      </form>
        <label class="h4" id = "displayErrorMessage">{{ errormessage }}</label>

    <div>
        <footer class="crazyPantherDude">
            <img class="panther" src="{% static 'images/wildPanther.gif' %}" alt="Whoa Dude"/>
        </footer>
    </div>

    </div>
{% endblock content %}



<!-- Website that shows how to use php to create dynamic input forms -->
<!-- https://stackoverflow.com/questions/22902453/dynamically-change-html-based-on-user-input-in-a-drop-down-with-php-->