<!-- This page should display success message with link to return to login -->

{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
    <h3>You have successfully logged out!</h3>

        <div>
              <p class="h4"><a href="{% url 'login_page' %}">Return to login screen</a></p>
        </div>

    </div>
{% endblock content %}