body {
    background: lightgoldenrodyellow;
    background-image: url('/static/images/uwm.jpg');
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.jumbotron {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.8);;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.form-container {
    margin: 25px;
}

.command-box {
    margin: 20px;
    padding: 20px;
    background: gold;
}

.command-option {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background: gold;
    margin: 20px 20px;
    padding: 15px;
    border-radius: 10px;
}

.main-header {
    width:100%;
    text-align:center;
}

img {
    vertical-align: center;
    border-style: solid;
    border-width: medium;
    border-color: black;
}

