<!-- This page should display form to edit TA info for admin and link to logout and home -->

{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h3>Assign a TA to Course/Lab/Grader</h3>
        <form method="post" action="{% url 'assign_TA_page' %}" class="form-container">
            {% csrf_token %}
            <div>
                <h5>TA:</h5>
                <select class="custom-select mr-sm-2" name="epanther" style="max-width: 25%">
                    <option value=""> -- Select TA -- </option>
                    {% for i in TAs %}
                        <option value="{{ i.1 }}">{{ i.3 }} {{ i.4 }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div>
                <h5>Course:</h5>
                <select class="custom-select mr-sm-2" name="courseCode" style="max-width: 25%">
                    <option value=""> -- Select Course -- </option>
                    {% for i in courses %}
                        <option value="{{ i.1 }}">CS{{ i.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <h5>Lecture Section #:</h5>
            <select class="custom-select mr-sm-2" name="section" style="max-width: 25%">
                <option value=""> -- Select Lecture Section -- </option>
                {% for i in courses %}
                    <option value="{{ i.2}}">{{ i.2 }}</option>
                {% endfor %}
            </select>
            <br><br>

            <!-- Lab or Grader -->
            <label class="h5">TA Role:</label><br>
            <input type="radio" id="lab-ta" value="lab-ta" name="ta-role" checked> <label for ="lab-ta">Lab</label>
            <input type="radio" id="grader-ta" value="grader-ta" name="ta-role"> <label for ="grader-ta">Grader</label><br><br>

            <input type="submit" class="btn btn-dark"><br><br>
        </form>
        <div class = "col-8" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Courses and Lectures
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <th>Course Name</th>
                            <th>Course Code</th>
                            <th>Lecture</th>
                            <th>Assigned TA(s)</th>
                            <th>Lab Sections</th>
                            <tbody>
                            {% for i in courses %}
                                <tr>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.2 }}</td>
                                    <td>{{ i.10 }}</td>
                                    <td>{{ i.11 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <label class="h4" id = "displayOutputMessage">{{ outputMessage }}</label>
<br><br>
    <div>
            <p class="h5"><a href="{% url 'logout_page' %}">Logout</a> |
                <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
        </div>
    </div>



{% endblock content %}