<!-- This page should display form to edit professor info for admin and link to logout and home -->
<!-- woooooooooooooo -->

{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h3>Assign a Professor to Course:</h3>
        <form method="post" action="{% url 'assign_professor_page' %}" class="form-container">
            {% csrf_token %}
            <div>
                <h5>Professor:</h5>
                <select class="custom-select mr-sm-2" name="epanther" style="max-width: 25%">
                    <option value=""> -- Select Professor -- </option>
                    {% for i in profs %}
                        <option value="{{ i.1 }}">{{ i.3 }} {{ i.4 }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div>
                <h5>Course:</h5>
                <select class="custom-select mr-sm-2" name="courseCode" id="selectedCourse" style="max-width: 25%">
                    <option value=""> -- Select Course -- </option>
                    {% for i in courses %}
                        <option value="{{ i.1 }}">{{ i.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <br/>
            <div>
                <h5>Lecture Section #:</h5>
                <select class="custom-select mr-sm-2" name="section" style="max-width: 25%">
                    <option value=""> -- Select Section -- </option>
                    {% for i in courses %}
                        <option value="{{ i.2}}">{{ i.2 }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <input type="submit" class="btn btn-dark">
            <br>
        </form>

        <label class="h4" id = "displayOutputMessage">{{ outputMessage }}</label>

        <div class = "col-8" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Courses and Lectures
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <th>Course</th>
                            <th>Lecture</th>
                            <th>Assigned Professors</th>
                            <tbody>
                            {% for i in courses %}
                                <tr>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.2 }}</td>
                                    <td>{{ i.9 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
<br><br>

        <div>
            <p class="h5"><a href="{% url 'logout_page' %}">Logout</a> |
                <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
        </div>

    </div>
{% endblock content %}