<!-- This page should display form for lab creation for admin and link to logout and home -->

{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
    <h3>Creating A Lab:</h3>
      <form method="post" action="{% url 'create_lab_page' %}" class="form-container">
          {% csrf_token %}
      <table>
      <tr>
          <td align="right"><label class="h5">Course Code:</label></td>
          <td><select class="custom-select mr-sm-2" name="courseCode" style="max-width: 100%" id="selecteduser">
                {% for i in courses %}
                <option value="{{ i.1 }}">{{ i.1 }} {{ i.3 }}</option>
                {% endfor %}
            </select></td>
      </tr>
      <tr>
          <td align="right"> <label class="h5">Course Section:</label></td>
          <td><select class="custom-select mr-sm-2" name="courseSection" style="max-width: 100%" id="selecteduser">
                {% for i in courses %}
                <option value="{{ i.2 }}">{{ i.1 }} - Section {{ i.2 }}</option>
                {% endfor %}
            </select></td>
      </tr>
      <tr>
          <td align="right"><label class="h5">Lab Section #: </label></td>
          <td><input type="text" name="labSection" size="15"><br/></td>
      </tr>
      <tr>
          <td align="right"><label class="h5">Meeting Days:</label></td>
          <td><input type="text" name="days" size="15"><br/></td>
      </tr>
      <tr>
          <td align="right"><label class="h5">Start Time (HHMM):</label></td>
          <td><input type="text" name="startTime" size="15"><br/></td>
      </tr>
      <tr>
          <td align="right"><label class="h5">End Time (HHMM):</label></td>
          <td><input type="text" name="endTime" size="15"><br/></td>
      </tr>
      </table>

          <input type="submit" class="btn btn-dark"><br><br><br>

          <div>
              <p class="h5"><a href="{% url 'logout_page' %}">Logout</a> |
              <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
          </div>
      </form>

    <label class="h4" id = "displayOutputMessage">{{ outputMessage }}</label>
    </div>
{% endblock content %}