<!-- This page should display form for professor creation for admin and link to logout and home -->

{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
    <h3>Creating A Professor Account:</h3>
      <form method="post" action="{% url 'create_professor_page' %}" class="form-container">
          {% csrf_token %}
          <table>
              <tr>
                  <td align="right"><label class="h5">ePanther: </label></td>
                  <td><input type="text" name="ePanther" size="50"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">Temporary Password: </label></td>
                  <td><input type="password" name="tempPassword" size="50"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">First Name:</label></td>
                  <td><input type="text" name="firstName" size="50"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">Last Name:</label></td>
                  <td><input type="text" name="lastName" size="50"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">Phone Number (xxx-xxx-xxxx):</label></td>
                  <td><input type="tel" name="phone" size="50"
                              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br/></td>
              </tr>
          </table>
          <input type="submit" class="btn btn-dark"><br><br><br>

          <div>
              <p class="h5"><a href="{% url 'logout_page' %}">Logout</a> |
              <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
          </div>
      </form>

    <label class="h4" id = "displayOutputMessage">{{ outputMessage }}</label>
    </div>
{% endblock content %}