<!-- This page should display form for course creation for admin and link to logout and home -->

{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
    <h3>Creating A Course:</h3>
      <form method="post" action="{% url 'create_course_page' %}" class="form-container">
          {% csrf_token %}
          <table>
              <tr>
                  <td align="right"><label class="h5">Course Name: </label></td>
                  <td><input type="text" name="courseName" size="45%"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">Course Code: </label></td>
                  <td><input type="text" name="courseCode" size="45%"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">Lecture Section: </label></td>
                  <td><input type="text" name="courseCode" size="45%"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">Meeting Days: </label></td>
                  <td><input type="text" name="days" size="15"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">Start Time (HHMM - Military):</label></td>
                  <td><input type="text" name="startTime" size="15"><br/></td>
              </tr>
              <tr>
                  <td align="right"><label class="h5">End Time (HHMM - Military):</label></td>
                  <td><input type="text" name="endTime" size="15"><br/></td>
              </tr>
          </table>

          <input type="submit" class="btn btn-dark"><br><br><br>

          <div>
              <p class="h5"><a href="{% url 'logout_page' %}">Logout</a> |
              <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
          </div>
      </form>

    <label class="h4" id = "displayOutputMessage">{{ outputMessage }}</label>
    </div>
{% endblock content %}