<!-- This page should display form for user to edit their own info and link to logout and home -->
{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h3>Edit Your Account:</h3>
          <form method="post" action="/" class="form-container">
              {% csrf_token %}
              <table>
                  <tr>
                      <td align="right"><label>ePanther: </label></td>
                      <td><input type="text" name="ePanther" size="50"><br/></td>
                  </tr>
                  <tr>
                      <td align="right"><label>Password: </label></td>
                      <td><input type="password" name="tempPassword" size="50"><br/></td>
                  </tr>
                  <tr>
                      <td align="right"><label>First Name:</label></td>
                      <td><input type="text" name="firstName" size="50"><br/></td>
                  </tr>
                  <tr>
                      <td align="right"><label>Last Name:</label></td>
                      <td><input type="text" name="lastName" size="50"><br/></td>
                  </tr>
                  <tr>
                      <td align="right"><label>Phone Number (xxx-xxx-xxxx):</label></td>
                      <td><input type="tel" name="phone" size="50"
                                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br/></td>
                  </tr>
              </table>

              <input type="submit"><br><br><br>
          </form>
          <div>
              <p><a href="{% url 'logout_page' %}">Logout</a> |
              <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
          </div>
      </form>

    <label id = "displayErrorMessage">{{ errormessage }}</label>
    </div>
{% endblock content %}