{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
    <h3>Edit A Lab:</h3>
      <form method="post" action="/" class="form-container">
          {% csrf_token %}
      <table>
          <tr>
              <td align="right"><label>Associated Course Code: </label></td>
              <td><select class="custom-select mr-sm-2" name="courseCode" style="max-width: 100%">
                {% for i in labs %}
                <option value="{{ i.1 }}">{{ i.1 }}</option>
                {% endfor %}
            </select></td>
          </tr>
          <tr>
              <td align="right"><label>Course Lecture Section #: </label></td>
              <td><select class="custom-select mr-sm-2" name="courseSection" style="max-width: 100%">
                {% for i in labs %}
                <option value="{{ i.1 }}">{{ i.2 }}</option>
                {% endfor %}
            </select></td>
          </tr>
          <tr>
              <td align="right"><label>Lab Section #: </label></td>
              <td><select class="custom-select mr-sm-2" name="labSection" style="max-width: 100%">
                {% for i in labs %}
                <option value="{{ i.1 }}">{{ i.3 }}</option>
                {% endfor %}
            </select></td>
          </tr>
          <tr>
              <td align="right"><label>Meeting Days:</label></td>
              <td><input type="text" name="days" size="15"><br/></td>
          </tr>
          <tr>
              <td align="right"><label>Start Time (HHMM):</label></td>
              <td><input type="text" name="startTime" size="15"><br/></td>
          </tr>
      <tr>
              <td align="right"><label>End Time (HHMM):</label></td>
              <td><input type="text" name="endTime" size="15"><br/></td>
          </tr>
      </table> <br>
          <input type="submit"><br><br><br>

          <div>
              <p><a href="{% url 'logout_page' %}">Logout</a> |
              <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
          </div>
      </form>

    <label id = "displayErrorMessage">{{ errormessage }}</label>
    </div>
{% endblock content %}