<!-- This page should display form to edit course info for admin and link to logout and home -->
{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
    <h3>Edit A Course:</h3>
      <form method="post" action="/edit_course" class="form-container">
          {% csrf_token %}
          <label>Course:</label><br>
                <select class="custom-select mr-sm-2" name="courseCode" id="selectedCourse" style="max-width: 25%">
                    <option value=""> -- Select Course -- </option>
                    {% for i in courses %}
                        <option value="{{ i.1 }}">{{ i.1 }}</option>
                    {% endfor %}
                </select><br>
          <label>Lecture Section:</label><br>
                <select class="custom-select mr-sm-2" name="section" id="selectedCourse" style="max-width: 25%">
                    <option value=""> -- Select Lecture # -- </option>
                    {% for i in courses %}
                        <option value="{{ i.1 }}">{{ i.2 }}</option>
                    {% endfor %}
                </select><br> <br>
      <table>
          <tr>
              <td align="right"><label>Meeting Days:</label></td>
              <td><input type="text" name="days" size="15"><br/></td>
          </tr>
          <tr>
              <td align="right"><label>Start Time (HHMM):</label></td>
              <td><input type="text" name="startTime" size="15"><br/></td>
          </tr>
          <tr>
              <td align="right"><label>End Time (HHMM):</label></td>
              <td><input type="text" name="endTime" size="15"><br/><br></td>
          </tr>
      </table>
          <input type="submit" class="btn btn-dark"><br><br><br>

          <div>
              <p><a href="{% url 'logout_page' %}">Logout</a> |
              <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
          </div>
      </form>

    <label id = "displayErrorMessage">{{ errormessage }}</label>
    </div>
{% endblock content %}