<!-- This page should display form to edit any user's info who is in the system for ADMIN and link to logout and home -->

{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center" xmlns="http://www.w3.org/1999/html">
    <h3>Edit User Account:</h3>
      <form method="post" action="{% url 'edit_user_page' %}" class="form-container">
          {% csrf_token %}

      <table>
          <tr>
              <td align="right"><label style="alignment: right">ePanther:</label></td>
              <td><select class="custom-select mr-sm-2" name="epanther" style="max-width: 25%; alignment: left" id="selecteduser">
                {% for i in userlist %}
                <option value="{{ i.1 }}">{{ i.1 }}</option>
                {% endfor %}
            </select></td>
          </tr>
          <tr>
              <td align="right"><label>Password: </label></td>
              <td><input type="password" name="tempPassword" size="50" id="tempPassword"><br/></td>
          </tr>
          <tr>
              <td align="right"><label>First Name:</label></td>
              <td><input type="text" name="firstName" size="50"><br/></td>
          </tr>
          <tr>
              <td align="right"> <label>Last Name:</label></td>
              <td><input type="text" name="lastName" size="50"><br/></td>
          </tr>
          <tr>
              <td align="right"><label>Phone Number (xxx-xxx-xxxx):</label></td>
              <td><input type="tel" name="phone" size="50"
                              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br><br></td>
          </tr>
      </table>

          <label>Role:</label>
          <input type="radio" id="professor" name="Professor" value="professor"> <label for = "professor">Professor</label>
          <input type="radio" id="ta" name="TA" value="ta"><label for = "ta">TA</label> <br><br>

          <input type="submit"><br><br><br>

          <div>
              <p><a href="{% url 'logout_page' %}">Logout</a> |
              <a href="{% url 'admin_home_page' %}">Return to home page</a></p>
          </div>
      </form>

    <label class="h4" id = "displayOutputMessage">{{ outputMessage }}</label>
    </div>
{% endblock content %}