{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h3>Assign a TA to Lab</h3>
        <form method="post" action="{% url 'assign_TA_to_lab_page' %}" class="form-container">
            {% csrf_token %}
        <table>
            <tr>
                <td align="right"><label>TA:</label></td>
                <td><select class="custom-select mr-sm-2" name="epanther" style="max-width: 25%">
                    <option value=""> -- Select TA -- </option>
                    {% for i in TAs %}
                        <option value="{{ i.1 }}">{{ i.3 }} {{ i.4 }}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td align="right"><label>Lab:</label></td>
                <td><select class="custom-select mr-sm-2" name="labCode" style="max-width: 25%">
                    <option value=""> -- Select Lab -- </option>
                    {% for j in labs %}
                        <option value="{{ j.3 }}">CS{{ j.1 }} | Lecture {{ j.2 }} | Lab {{ j.3 }}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td align="right"></td>
                <td></td>
            </tr>
        </table>
        
            <input type="submit" class="btn btn-dark"><br><br>
        </form>

        <div class = "col-8" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Your Courses
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <th>Course Name</th>
                            <th>Course Code</th>
                            <th>Lecture Section</th>
                            <th>Assigned TA(s)</th>
                            <th>Lab Sections</th>
                            <tbody>
                            {% for i in courses %}
                                <tr>
                                    <td>{{ i.3 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.2 }}</td>
                                    <td>{{ i.10 }}</td>
                                    <td>{{ i.11 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <label class="h4" id = "displayOutputMessage">{{ outputMessage }}</label>
    <br><br>
    <div>
            <p class="h5"><a href="{% url 'logout_page' %}">Logout</a> |
                <a href="{% url 'professor_home_page' %}">Return to home page</a></p>
        </div>
    </div>
{% endblock content %}