<!-- This page should display list of command options for professor and link to logout -->

{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" align="center">
        <h1 class="display-4">TA Home Page</h1><br/>
    <h4>Choose a command:</h4>


      <form method="post" action="{% url 'ta_home_page' %}" class="form-container">
          {% csrf_token %}
          <div class="row">

              <!-- Edit Container -->
              <div class="container col command-option">
                  <h5>Edit:</h5>
                  <div>
                    <input type="radio" id="editSelf" name="radioButtonGroup" value="editSelf" checked>
                    <label for="editSelf">Edit Your Info</label>
                  </div>
              </div>
          </div>
            <input type="submit" class="btn btn-dark"><br><br><br>
          <br/>
      </form>

        <h4>Account/Course Lists:</h4>
      <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Professors
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                  <table class="table">
                      <th>ePanther</th>
                      <th>Name</th>
                      <th>Phone Number</th>
                      <body>
                      {% for i in profs %}
                        <tr>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.3 }} {{ i.4 }}</td>
                            <td>{{ i.5 }}</td>
                        </tr>
                      {% endfor %}
                      </body>
                  </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  TAs
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                 <table class="table">
                     <th>ePanther</th>
                     <th>Name</th>
                     <th>Phone Number</th>
                     <body>
                      {% for j in tas %}
                        <tr>
                            <td>{{ j.1 }}</td>
                            <td>{{ j.3 }} {{ j.4 }}</td>
                            <td>{{ j.5 }}</td>
                        </tr>
                      {% endfor %}
                      </body>
                 </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Courses
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                  <table class="table">
                     <th>Course Name</th>
                     <th>Course Code</th>
                     <th>Section</th>
                     <th>Meeting Days</th>
                      <th>Times (Military)</th>
                    <th>Professor</th>
                     <body>
                      {% for k in courses %}
                        <tr>
                            <td>{{ k.3 }}</td>
                            <td>{{ k.1 }}</td>
                            <td>{{ k.2 }}</td>
                            <td>{{ k.5 }}</td>
                            <td>{{ k.6 }} - {{ k.7 }}</td>
                            <td>{{ k.9 }}</td>
                        </tr>
                      {% endfor %}
                      </body>
                 </table>
              </div>
            </div>
          </div>
    </div>

    <br/>
          <div>
              <p class="h5"><a href="{% url 'logout_page' %}">Logout</a></p>
          </div>


    </div>
{% endblock content %}